
{
    "rules": {
        "no-var": 2,
        "prefer-const": 2,
        "object-shorthand": 2,
        "indent": [
          "error",
           2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0
    },
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "globals": {
      "describe": false,
      "before": false,
      "beforeEach": false,
      "afterEach": false,
      "it": false
    },
    "extends": "eslint:recommended"
}
